<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- This Menu Item will appear in the Upper bar, that's why It needs NO parent or action -->
    <menuitem   id="urubento_menu_root" 
                name="Uru Bento" 
                sequence="10"/>

    <!-- This Menu Item Must have a parent -->
        <menuitem   id="urubento_pemesanan_menu_categ" 
                    name="Pemesanan" 
                    parent="urubento_menu_root" 
                    sequence="10"/>
    
    <!-- This Menu Item Must have a parent -->
        <menuitem   id="urubento_menu_menu_categ" 
                    name="Menu" 
                    parent="urubento_menu_root" 
                    sequence="20"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem   id="urubento_bahan_menu_categ" 
                name="Stok Gudang" 
                parent="urubento_menu_root" 
                sequence="30"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem   id="urubento_pegawai_menu_categ" 
                name="Pegawai" 
                parent="urubento_menu_root" 
                sequence="40"/>
    
    

</odoo>
